doctype html
html
    head
        title="Login App"
        body
            div.login
                h1 Welcome to your site!

                form(action="http://localhost:3000/userform", method="GET")
                    p This is a test page
                    img(src="https://img-aws.ehowcdn.com/600x600p/photos.demandstudios.com/getty/article/142/152/83454829.jpg")